<table class="full-listing">
  <thead>
    <tr>
      <th>URL</th>
      <th>Title</th>
      <th>Agency</th>
      <th>Site</th>
      <th>Added</th>
      <th>Last Updated</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td class="collapsible-column"><a href="<%= page_path(page) %>"><%= page.url[0, 100] %></a></td>
        <td><%= page.title %></td>
        <td><%= page.agency %></td>
        <td><%= page.site %></td>
        <td><%= page.created_at %></td>
        <td><%= page.updated_at %></td>
        <td><a href="<%= page.versionista_url %>">View in Versionista</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<footer>
  <p><%= @total_pages %> web pages are tracked.</p>
  <p>
    <% if @page_group_number > 1 %>
      <%= link_to '< Previous', pages_path(nil, page: @page_group_number - 1) %>
    <% end %>
    Page <%= @page_group_number %> of <%= @total_page_groups %>
    <% if @page_group_number < @total_page_groups %>
      <%= link_to 'Next >', pages_path(nil, page: @page_group_number + 1) %>
    <% end %>
  </p>
</footer>
