<header>
  <h1><%= @page.title %></h1>
  <p><a href="<%= @page.url %>">Live page</a> <a href="<%= versionista_info(@page, 'page_url') %>">Versionista</a></p>
</header>

<h2>Versions</h2>
<table class="full-listing">
  <thead>
    <tr>
      <th>Date</th>
      <th>Compare with Previous</th>
      <th>Compare with Original</th>
      <th>Hash</th>
    </tr>
  </thead>
  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><a href="<%= versionista_version_url(version) %>"><%= version.capture_time %></a></td>
        <td>
          <% if comparable?(version) %>
            <a href="<%= versionista_info(version, 'diff_with_previous_url') %>">Compare with Previous</a>
          <% end %>
        </td>
        <td>
          <% if comparable?(version) %>
            <a href="<%= versionista_info(version, 'diff_with_first_url') %>">Compare with Original</a>
          <% end %>
        </td>
        <td>
          <% if comparable?(version) %>
            <%= versionista_info(version, 'diff_hash') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<footer>
  <%= render "shared/pagination" %>
</footer>
