<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>WebpageVersionsDb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield(:extra_css) %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% unless @env == "production" %>
      <div class="page-header-environment">
        <p class="page-header-title">
          <%= "Environment is: " + @env %>
        </p>
      </div>
    <% end %>
    <header class="page-header">
      <div class="page-header-main">
        <p class="page-header-title"><%= link_to('EDGI Web-Monitoring Database', '/') %></p>
        <% if user_signed_in? && current_user.admin? %>
          <p><%= link_to('Admin', admin_path) %></p>
        <% end %>

        <div class="page-header-user">
          <% if user_signed_in? %>
            Logged in as <%= link_to(current_user.email, edit_user_registration_path) %>
            •
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path)  %>
          <% end %>
        </div>
      </div>

      <div class="flash">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>
      </div>
    </header>
    <div class="page-content">
      <%= yield %>
    </div>
  </body>
</html>
